# Database
DB_USER=<your-username>
DB_PASSWORD=<your-password>
DB_HOST=localhost # use "db" instead for docker builds
DB_NAME=textbook_heaven
DB_PORT=5432

# Better Auth
BETTER_AUTH_SECRET=<secret-value-here>
BETTER_AUTH_URL=http://textbookheaven.org # use "localhost:3000" for dev
